<div class="dashboard">
    <aside class="sidebar">
        <div class="sidebar-header">Limelight</div>
        <nav>
            <div class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-home"></i>
                    Dashboard
                </a>
            </div>
            <div class="nav-item">
                <a href="/admin/article" class="nav-link">
                    <i class="fas fa-newspaper"></i>
                    Articles
                </a>
            </div>
            <div class="nav-item">
                <a href="/admin/addArticle" class="nav-link">
                    <i class="fas fa-plus-circle"></i>
                    Create Article
                </a>
            </div>
            <div class="nav-item">
                <a href="/admin/adminCreate" class="nav-link">
                    <i class="fas fa-user-plus"></i>
                    Create Admin
                </a>
            </div>
        </nav>
    </aside>