<section style="background-color: #eeeae4;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-10" style="height: 90px;">
              
            </div>
            <div class="col-md-4">
    
            </div>
            <div class="col-md-5 col-sm-2"  >
    
    <nav class="navbar navbar-expand-lg mt-4">
      <div class="container-fluid">
    <strong>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="width: 1rem;"></span>
        </button>
        <div class="flexing collapse navbar-collapse" id="navbarNavDropdown" >
          <ul class="navbar-nav ">
            <li class="nav-item ">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item dropdown" >
              <a class="nav-link dropdown-toggle btn btn-secondary" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Article
              </a>
              <ul class="dropdown-menu" >
                <li><a class="dropdown-item btn btn-secondary" href="/">Article</a></li>
                <li><a class="dropdown-item btn btn-secondary" href="/">Religion and culture</a></li>
                <li><a class="dropdown-item btn btn-secondary" href="/">Sufism</a></li>
                <li><a class="dropdown-item btn btn-secondary" href="/">History</a></li>
                <li><a class="dropdown-item btn btn-secondary" href="/">Politics</a></li>
              </ul>
            </li>
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle btn btn-secondary" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Art
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item btn btn-secondary" href="/">Art</a></li>
                <li><a class="dropdown-item btn btn-secondary" href="/">Interview</a></li>
                <li><a class="dropdown-item btn btn-secondary" href="/">Photo essay</a></li>
              </ul>
            </li>
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle btn btn-secondary" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Literature
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item btn btn-secondary" href="/">Literature</a></li>
                <li><a class="dropdown-item btn btn-secondary" href="/">Poem</a></li>
                <li><a class="dropdown-item btn btn-secondary" href="/">Short Story</a></li>
                <li><a class="dropdown-item btn btn-secondary" href="/">Moral Story</a></li>
                <li><a class="dropdown-item btn btn-secondary" href="/">Travelogue</a></li>
              </ul>
            </li>
    
             <li class="nav-item">
              <a class="nav-link btn btn-info" href="/aboutus">About us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
            </div>  
    </strong>
        </div>
    </div>
    </section>