<div class="top-bar">
    Welcome to The Limelight!
</div>

<header>
    <div class="nav-container">
        <div class="logo"><img src="https://i.ibb.co/qsPcZ5r/download-5.png"  alt="THE LIME LIGHT"></div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#article">Article</a></li>
                <li><a href="#art">Art</a></li>
                <li><a href="/aboutUs">About Us</a></li>
            </ul>
        </nav>
    </div>
</header>